<h1>Add a Record</h1>
<p>Add a Record here:</p>

<form action="/records" method="post">
  <label for="title">Record Title</label>
  <input id="title" name="title" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back Home</a></p>
<p><a href="/records">Back to Records.</a></p>